
<html lang="en">
	<head>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>   
      <header class="navbar navbar-bright navbar-fixed-top" role="banner">
         <div class="container">
           <div class="navbar-header">
             <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
            
           </div>
          
       </header>
     
     
     
     <div class="container"style="padding: 10px; margin-top:1%">
         <center>
         <h1>Edit Author Details</h1>
      <form action="/authors/<%= author.id %>?_method=PUT" method = "POST" >   
         <br>
         <label for="name">Name</label>
         <br>
         <input type="text" name="name" value="<%=author.name%>">  
         
         <br>  
         <label for="place">Place</label>      
         <br>
      <input type="text" name="place" value="<%=author.place%>">
      <br>     
      <label for="Main">Main Works</label>
      <br>
      <input type="text" name="main" value="<%=author.main%>">
      <br>
      <label for="works">Works</label>
      <br>
      <input type="text" name="works" value="<%=author.works%>">
      <br>
      <label for="numb">Number of works</label>
      <br>
      <input type="text" name="number" value="<%=author.numb%>">
      <br>
            <br>
         <button type="submit"style="color:white;background-color: green;">UPDATE DETAILS</button>     
      
      </form>

      <form action="/authors/<%= author.id %>/image?_method=PUT" method = "POST" enctype="multipart/form-data" >
        <br>       
        <label for="update image">Update Image</label>
         <br>  
         <input type="file" name="image" value="<%=author.image%>"style="margin-left:10%;">  
          <br>
         <button style="color:white;background-color: green;">UPDATE IMAGE</button>
         <br>
         <br>
         <br>
        
         <a href="/authors/<%= author.id %>" style="background:indigo;color:white;padding:2px;">CANCEL</button>  </a>
        </button>
         <br>
      </form>
   </center>
   </div>
      


   <div class="container" id="footer">
      <div class="row">
        <div class="col col-sm-12">
          
          <h1>Follow Us</h1>
          <div class="btn-group">
           <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
          <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
          <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
          </div>
          
        </div>
      </div>
    </div>
    
    <hr>
    
    <hr>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-google-plus icon-2x"></i></li>
              <li><i class="icon-pinterest icon-2x"></i></li>
            </ul>
            
          </div>
          <div class="col-sm-6">
              <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
          </div>
        </div>
      </div>
    </footer>
       <!-- script references -->
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
          <script src="js/bootstrap.min.js"></script>
       </body>
    



